@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

/* icons */
ul {
    position: relative;
    display: flex;
    }
    
    
    
    ul li a {
    text-decoration: none;
    }
    
    ul li a .fa-brands {
    font-size: 2em;
    color: #222;
    }
    
    ul li a::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    }
    
    ul li:nth-child(4) a::before {
    content: "\f08c";
    color: #0081C9;
    border-bottom: 4px solid #0081C9;
    }
    
    ul li:nth-child(3) a::before {
    content: "\f16d";
    background-image: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #dc2743;
    }
    
    ul li:nth-child(2) a::before {
    content: "\f09b";
    color: #ECE8DD;
    border-bottom: 4px solid #ECE8DD;
    }
    
    ul li:nth-child(1) a::before {
    content: "\f099";
    color: #1da1f2;
    border-bottom: 4px solid #1da1f2;
    }
    
    ul li:hover a::before {
    height: 100%;
    }
    .social_links{
    background-color:black;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
    }
    
    ul li {
        position: relative;
        list-style: none;
        margin: 0 20px;
        cursor: pointer;
        padding: 0 ;
        padding-top: 10px;
        }